<script src="/js/admin.js"></script>
<div class="container-sm mt-5 indigo-900">
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Категория</label>
      <div class="input-group input-group-sm mb-3 has-validation">
        <input type="text" class="form-control" id="inputCategory">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Тип дня</label>
      <div class="input-group input-group-sm mb-3 has-validation">
        <input type="text" class="form-control" id="inputTypeOfTheDay">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">С даты</label>
      <input type="date" name="date" class="form-control" id="inputFromDate" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Новый тариф</label>
      <input type="number" name="value" class="form-control" id="inputTarifValue" />
    </div>
    <div class="mb-3">
      <input type="button" class="btn btn-outline-success btn-sm" id="addrow" onclick="childrenRow()"
        value="Добавить" />
    </div>
  </form>
</div>
<div class="container-sm">
  <table class="table table-hover table-bordered border-black text-white" id="childTable">
    <thead>
      <tr>
        <th scope="id">#</th>
        <th scope="PeopleType.name">Категория людей</th>
        <th scope="DayType.name">Тип дня</th>
        <th scope="date">С даты</th>
        <th scope="value">Тариф</th>
        <th scope="Control">Инструменты</th>
      </tr>
    </thead>

    <tbody>
      {{#each tarifGrid}}
      <tr id="tbl{{id}}">
        <td scope="row">{{id}}</td>
        <td class="align-baseline">
          <input type="text" name="PeopleType.name" class="form-control" value="{{'PeopleType.name'}}" />
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </td>
        <td class="align-baseline">
          <input type="text" name="DayType.name" class="form-control" value="{{'DayType.name'}}" />
        </td>
        <td class="align-baseline">{{date}}</td>
        <td class="align-baseline">
          <input type="number" name="value" class="form-control" value="{{value}}" />
        </td>
        <td class="align-baseline">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <input type=" button" class="btn btn-outline-danger btn-sm" id="addrow" onclick="deleteRow('tbl{{id}}')"
              value="Удалить" />
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
